//Colors

$violet: #540d6e;
$rose: #ee4266;
$yellow: #ffd23f;
$fall-white: #f3fcf0;
$dark-gray: #1f271b;
$white: #fff;
$black: #000;

//fonts

$small: 16px;
$medium: 20px;
$big: 36px;

$large-padding: 10px 15px;
$big-padding: 20px 30px;

$default-margin-top: 30px;
$big-margin-top: 90px;

$border-radius: 4px;