/*https://sass-lang.com/documentation*/

@import './modules/variables.scss';
@import './modules/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');


html body{
    margin: 0;
    background-color: $white;
    font-family: 'Source Sans Pro', sans-serif;
}

img{
    max-width: 100%;
}

figure{
    position: relative;
    max-height: 100%;
    margin: 0px;
    figcaption{
        padding: $large-padding;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.5em;
        letter-spacing: 5px;
        position: absolute;
        width: auto;
        bottom: 0;
        left: 10px;
        z-index: 10;
        @include text-center;
        color: rgba($fall-white, 0.5);
    }
    //&:hover{} // se usa amperson para referirse al mismo contenedor
}

.container{
    grid-column: span 12; // Se exientde por las 12 columnas 
    padding: $big-padding;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.cover{
    @include absolute-cover;
    min-height: 500px;
    background-color: $violet;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    &.parallax{
        background-image: url('../../public/images/image2.jpg');
    }
}

.grid-main-area{
    display: grid;
    margin-top: $big-margin-top;
    margin-bottom: $big-margin-top;
    grid-template-columns: repeat(9,1fr);
    grid-template-areas: 
        "title title title title title title title title title"
        "image image image image image image image image image"
    ;
    .image{
        grid-area: image;
    }
    .text{
        grid-area: title;
        font-size: 1.2em;
        font-weight: 200;
        line-height: 1.5em; //salto de linea
        h1{
            font-weight: inherit;
            font-size: $big;
            letter-spacing: 0.3em;
        }
    }
}

.btn{
    padding: $large-padding;
    position: relative;
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-sizing: border-box;
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0px;
        height: 30%;
        z-index: -1;
        background-color: $rose;
        transition: all 0.15s ease-out;
    }
    &:hover{
        color: $fall-white;
        &::before{
            height: 100%;
        }
    }
}


@media (min-width: 960px){
    .grid-main-area{
        display: grid;
        grid-template-columns: repeat(9,1fr);
        grid-template-areas: 
            "title title title . image image image image image"
        ;
    }

    .container{
        grid-column: 2 / 12;
    }
}