.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

img{
    max-width: 100%;
}

.main-image{
    grid-area: image;
}

.main-text{
    grid-area: title;
}


.grid-main-area{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-areas: 
        "title title title title title title title title title"
        "image image image image image image image image image"
    ;
}

.container{
    grid-column: span 12; // Se exientde por las 12 columnas 
}

@media (min-width: 960px){
    .grid-main-area{
        display: grid;
        grid-template-columns: repeat(9,1fr);
        grid-template-areas: 
            "title title title . image image image image image"
        ;
    }

    .container{
        grid-column: 2 / 12;
    }
}