.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.main-image{
    //grid-column-start: 7;
    //grid-column-end: 12;
    grid-column: 7 / 12;
}

.main-text{
    grid-column: 2 / 7;
}